* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*--- CSS en componentes HTML ---*/
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*--- Header ---*/
header {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 8vh;
  display: flex;
  justify-content: center;
  width: 100%;
}
header a {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
header img {
  height: 3rem;
  padding: 5px;
  margin-left: 2vw;
  margin-right: 2vw;
}
header a:link {
  color: white;
  text-decoration: none;
}
header a:visited {
  color: white;
  text-decoration: none;
}

/*---- MAIN ----*/
main {
  height: 84vh;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

/*--- Footer ---*/
footer {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 8vh;
  width: 100%;
  margin-top: auto;
  font-size: 3vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p > a:link {
  color: white;
  text-decoration: none;
}
footer p > a:visited {
  color: rgb(255, 255, 255, 0.5);
}
footer p > a:hover {
  color: rgba(34, 104, 235, 0.8);
}

@media screen and (max-width: 800px) {
  body {
    display: flex;
  }
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    height: 100%;
    width: 100%;
  }
}

/*--- CSS en ID ---*/
#stateB {
  transform: rotate(180deg);
}

#aviso-movil-horizontal {
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 3vh;
}

@media only all and (orientation: portrait) {
  #wrapper {
    display: none;
  }
  #aviso-movil-horizontal {
    display: flex;
  }
}
@media only all and (orientation: landscape) {
  #aviso-movil-horizontal {
    display: none;
  }
}

/*--- CSS en CLASS ---*/
.container {
  background: greenyellow;
  height: 100px;
  width: 100px;
}

/*--- CSS for the Header ---*/
.header--title {
  font-size: 2.5vw;
}

/*--- CSS for the Footer ---*/
.footer__autor {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.footer__autor p {
  margin: 0;
  padding: 0;
}

/*-------- INDEX -------*/
.index__container button {
  height: 12vh;
  width: 25vw;
  background: none;
  color: white;
  border: 1px solid;
  border-radius: 50px;
  font-size: 2vw;
  transition: all 0.5s;
  outline: none;
}
.index__container button:hover {
  background: rgb(255, 255, 255, 0.1);
  border: 2px solid;
  font-size: 3vw;
  cursor: pointer;
}

/*----- CSS of the instructions ---*/
.instructions__container {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-flow: column;
  height: 90%;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
}
.instructions__container__rules {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 2.2vw;
}
.instructions__container__rules img {
  width: 30vw;
}
.instructions__container__button--continue {
  height: 8vh;
  width: 15vw;
  background: none;
  color: white;
  border: 1px solid;
  border-radius: 50px;
  font-size: 2vw;
  transition: all 0.5s;
  outline: none;
}
.instructions__container__button--continue:hover {
  background: rgb(255, 255, 255, 0.1);
  border: 1px solid;
  cursor: pointer;
  font-size: 3vw;
}

@media screen and (min-width: 1920px) {
  .instructions__container {
  }
}
/*--------------------------Tablero de juego ------*/
.containerA {
  position: absolute;
  margin-top: 10px;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  width: 90vw;
  height: 70vh;
  border: 0.7vw double white;
  border-radius: 20px;
  background: rgba(102, 51, 153, 0.5);
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.containerA__healthAndNames {
  display: flex;
  justify-content: center;
  align-items: space-around;
  position: relative;
  flex-direction: row;
  height: 15vh;
  width: 89vw;
  bottom: 1vh;
  padding: 0.5vw;
  background: rgba(255, 255, 255, 0.2);
}
.containerA__board {
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/*--- HEAD A --*/
.containerA__healthAndNames__userA {
  display: flex;
  flex-flow: row;
  height: 100%;
}
.containerA__healthAndNames__userA img {
  align-self: center;
  width: auto;
  padding: 10px;
  height: 7vw;
}
.containerA__healthAndNAme__userA__divBar {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.containerA__healthAndNAme__userA__divBar--healthBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 30vw;
  height: 5vh;
  background: rgba(255, 217, 0, 0.8);
  transform: skew(-25deg);
}

/*--- HEAD B --*/
.containerA__healthAndNames__userB {
  display: flex;
  flex-flow: row;
}
.containerA__healthAndNames__userB img {
  align-self: center;
  width: auto;
  padding: 10px;
  height: 7.5vw;
}
.containerA__healthAndNAme__userB__divBar {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.containerA__healthAndNAme__userB__divBar--healthBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 30vw;
  height: 5vh;
  background: rgba(255, 217, 0, 0.8);
  transform: skew(25deg);
}

.containerA__healthAndNames__versus {
  display: flex;
}
.containerA__healthAndNames__versus img {
  align-self: center;
  width: 11vw;
}

.containerA__board__user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerA__board__user img {
  display: flex;
  position: absolute;
  top: 25vh;
  right: 57vw;
  width: 15vw;
}
.containerA__board__pc img {
  display: flex;
  position: absolute;
  top: 25vh;
  right: 18vw;
  width: 15vw;
}

.containerA__board__confirm button {
  position: relative;
  z-index: 1;
  font-size: 4vh;
  height: 10rem;
  width: 20rem;
  margin-top: 10vh;
  border-radius: 4vh;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  transition: all 0.5s;
}
.containerA__board__confirm button:hover {
  font-size: 5vh;
  height: 12rem;
  width: 22rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
}

.containerA__bottonStateA button {
  position: relative;
  top: 0.5vh;
  width: 90vw;
  background: none;
  border: none;
  transition: all 0.5s;
  align-self: flex-end;
  outline: none;
}
.containerA__bottonStateA button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}
.containerA__bottonStateA button svg {
  width: 10vh;
  padding: 10px;
}

.containerA__bottonStateB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: rgba(255, 255, 255, 0.1);
}
.containerA__bottonStateB button {
  position: relative;
  top: 0.5vh;
  width: 90vw;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  transition: all 0.5s;
  align-self: flex-end;
  outline: none;
}
.containerA__bottonStateB button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}
.containerA__bottonStateB button svg {
  width: 10vh;
  padding: 10px;
}
.containerA__bottonStateB__options {
  max-height: 30vh;
  min-height: 20vh;
  padding-bottom: 1.5vh;
}

.containerA__bottonStateB__options--ul {
  display: flex;
  width: 100%;
  list-style: none;
  flex-flow: row;
  justify-content: space-around;
  justify-content: center;
}

.containerA__bottonStateB__options--li {
  justify-content: center;
  align-items: center;
}
.containerA__bottonStateB__options--li button {
  background-color: transparent;
  background-size: cover;
  height: 10vw;
  width: 10vw;
  border: 0;
  font-size: 1.5vw;
  color: rgba(0, 0, 0, 0.6);
}
.containerA__bottonStateB__options--li button:hover {
  height: 12vw;
  width: 12vw;
  font-size: 2vw;
  cursor: pointer;
  background-color: transparent;
  background-size: cover;
  color: rgba(0, 0, 0, 0.8);
}

@media all and (min-width: 1920px) {
  .containerA__healthAndNames__userA img {
    width: 6vw;
  }
  .containerA__healthAndNAme__userA__divBar {
    font-size: 2.5vw;
  }
  .containerA__healthAndNAme__userA__divBar--healthBar {
    height: 6vh;
  }

  .containerA__healthAndNames__userB img {
    width: 9vw;
  }
  .containerA__healthAndNAme__userB__divBar {
    font-size: 2.5vw;
  }
  .containerA__healthAndNAme__userB__divBar--healthBar {
    height: 6vh;
  }

  .containerA__healthAndNames__versus img {
    width: 10vw;
  }
}
@media all and (max-height: 900px) {
  .containerA__bottonStateA button svg {
    width: 10vh;
    padding: 2px;
  }
  .containerA__board__confirm button {
    font-size: 5vh;
    height: 5em;
    width: 10em;
    margin-top: 10vh;
  }
  .containerA__board__confirm button:hover {
    font-size: 5vh;
    height: 5em;
    width: 10em;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
  }
  .containerA__healthAndNames {
    position: absolute;
    bottom: 54vh;
  }
  .containerA__board__confirm button {
    position: relative;
    z-index: 1;
    font-size: 4vh;
    height: 10rem;
    width: 20rem;
    margin-top: 30vh;
    border-radius: 4vh;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    transition: all 0.5s;
  }
}
