* {
  margin: 0;
  padding: 0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
  background: greenyellow;
  height: 100px;
  width: 100px;
}

header {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 8vh;
  display: flex;
  justify-content: center;
  width: 100%;
}
header a {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
header img {
  height: 3rem;
  padding: 5px;
  margin-left: 2vw;
  margin-right: 2vw;
}
.header--title{
  font-size: 2.5vw;
}
header a:link {
  color: white;
  text-decoration: none;
}
header a:visited {
  color: white;
  text-decoration: none;
  
}

/*--- CSS for the Footer ---*/
footer {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  height: 8vh;
  width: 100%;
  margin-top: auto;
  font-size: 3vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p > a:link {
  color: white;
  text-decoration: none;
}
footer p > a:visited {
  color: rgb(255, 255, 255, 0.5);
}
footer p > a:hover {
  color: rgba(34, 104, 235, 0.8);
}
.footer__autor {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.footer__autor p{
  margin: 0;
  padding: 0;
}

/*--------------MAIN--------------*/
main {
  height: 84vh;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content:center;
}

#aviso-movil-horizontal { 
  display: none; 
  color: white;
  font-size: 3vh;
}
@media only all and (orientation:portrait) {
    #wrapper { display:none; }
    #aviso-movil-horizontal { display:block; }
}
@media only all and (orientation:landscape) {
    #aviso-movil-horizontal { display:none; }
}

@media screen and (max-width:800px) {
  body{
    display: flex;
  }
  header{
    display: none;
  }
  footer{
    display: none;
  }
  main{    
    height: 100%;
    width: 100%;
  }
}

/*-------- INDEX -------*/
.index__container button {
  height: 12vh;
  width: 25vw;
  background: none;
  color: white;
  border: 1px solid;
  border-radius: 50px;
  font-size: 2vw;
  transition: all 0.5s;
  outline: none;
}
.index__container button:hover {
  background: rgb(255, 255, 255,0.1);
  border: 2px solid;
  font-size: 3vw;
  cursor: pointer;
}

/*----- CSS of the instructions ---*/
.instructions__container {
  background: rgba(255,255, 255, 0.2);
  display: flex;
  flex-flow: column;
  height: 90%;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 30px;
}
.instructions__container__rules {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 2.2vw;
}
.instructions__container__rules img {
  width: 30vw;
}
.instructions__container__button--continue {
  height: 8vh;
  width: 15vw;
  background: none;
  color: white;
  border: 1px solid;
  border-radius: 50px;
  font-size: 2vw;
  transition: all 0.5s;
  outline: none;
}
.instructions__container__button--continue:hover {
  background: rgb(255, 255, 255, 0.1);
  border: 1px solid;
  cursor: pointer;
  font-size: 3vw;
}

@media screen and (min-width:1920px) {
  .instructions__container{

  }
}
/*--------------------------Tablero de juego ------*/
.containerA {
  position: absolute;
  margin-top: 10px;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  width: 90vw;
  height: 70vh;
  border: .7vw double white;
  border-radius: 20px;
  background: rgba(102, 51, 153, 0.5);
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.containerA__healthAndNames{
  display: flex;
  justify-content: center;
  align-items: space-around;
  position: relative;
  flex-direction: row;  
  height: 15vh;
  width: 89vw;
  bottom: 1vh;
  padding: .5vw;
  background: rgba(255, 255, 255, 0.3);
}

/*--- CSS USER A HEAD --*/
.containerA__healthAndNames__userA{
  display: flex;
  flex-flow: row;
  height: 100%;
}
.containerA__healthAndNames__userA img{
  align-self: center;
  width: auto;
  padding: 10px;
  height: 7vw;
}
.containerA__healthAndNAme__userA__divBar{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.containerA__healthAndNAme__userA__divBar--healthBar{
  display: flex;
  justify-content: center;
  align-items:center;
  border: 1px solid black;
  width: 30vw;  
  height: 5vh;
  background: rgba(255, 217, 0, 0.8);
  transform: skew(-25deg);
}

/*--- CSS USER B HEAD --*/
.containerA__healthAndNames__userB{
  display: flex;
  flex-flow: row;
}
.containerA__healthAndNames__userB img{
  align-self: center;
  width: auto;
  padding: 10px;
  height: 7.5vw;
}
.containerA__healthAndNAme__userB__divBar{
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.containerA__healthAndNAme__userB__divBar--healthBar{
  display: flex;
  justify-content: center;
  align-items:center;
  border: 1px solid black;
  width: 30vw;
  height: 5vh;
  background: rgba(255, 217, 0, 0.8);
  transform: skew(25deg);
}

.containerA__healthAndNames__versus{
  display: flex;
}
.containerA__healthAndNames__versus img{  
  align-self: center;
  width: 11vw;
}

.containerA__bottonStateA button{
  position: relative;
  top: .5vh;
  width: 90vw;
  background: none;
  border: none;
  transition: all 0.5s;
  align-self: flex-end;
  outline: none;
}
.containerA__bottonStateA button:hover{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width:1920px) {
  .containerA__healthAndNames__userA img{
    width: 6vw;
  }
  .containerA__healthAndNAme__userA__divBar{
    font-size: 2.5vw;
  }
  .containerA__healthAndNAme__userA__divBar--healthBar{    
    height:6vh;
  }

  .containerA__healthAndNames__userB img{
    width: 9vw;
  }
  .containerA__healthAndNAme__userB__divBar{
    font-size: 2.5vw;
  }
  .containerA__healthAndNAme__userB__divBar--healthBar{    
    height:6vh;
  }

  .containerA__healthAndNames__versus img{
    width: 10vw;
  }

}
/*--- From here is CHAOS --*/

.containerA__board {
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.containerA__board__user--img img{
  width: 20vw;
}
.containerA__board__pc--img img {
  width: 20vw;
}
.containerA__board__vs--img img{
  
}
.containerA__board__user--img_select {
  padding: 1vw;
}
.containerA__board__user--img_select img {
  width: 10vw;
}
.containerA__board__pc--img_select {
  padding: 1vw;
}
.containerA__board__pc--img_select img {
  width: 10vw;
}

/* ---- Opciones del jugador ------*/
.containerB {
  display: flex;
  position: relative;
  margin-top: 5px;
  flex: 0 0 5%;
  height: 65vh;
  top: 35vh;
}
.containerB:hover {
  flex: 0 0 20%;
}
.containerB__options {
  width: 100%;
  border: .7vw double white;
  border-radius: 20px;
  background: rgba(102, 51, 153);
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 1vh;
}

.containerB__options__list {
  align-items: center;
  width: 100%;
}
.containerB__options__list--ul {
  display: flex;
  width: 100%;
  list-style: none;
  flex-flow: row;
  justify-content: space-around;
  justify-content: center;  
}

.containerB__options__list--li {
  justify-content: center;
  align-items: center;
}
.containerB__options__list--li button {
  background-color: transparent;
  background-size: cover;
  height: 10vw;
  width: 10vw;
  border: 0;
  font-size: 1.5vw;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
.containerB__options__list--li button:hover {
  height: 15vw;
  width: 15vw;
  font-size: 2vw;
  rgba(0, 0, 0, 0.8);
  padding: 0;
  margin: 0;
}
.containerB__options__button {
  margin-top: 5vw;
  display: fixed;
}
.containerB__options__button--confirm {
  height: 6vw;
  width: 15vw;
  border-radius: 10px;
  border: 1px solid white;  
  font-size: 1.8vw;
  background: rgba(102, 51, 153, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 
  transition: font-size 0.3s;
}
.containerB__options__button--confirm:hover {
  font-size: 2.2vw;
  background: rgba(102, 51, 153, 0.8);
  border: 2px solid white;
}

@media only screen and (min-width: 1200px) {
  main {
    flex-flow: column;
  }
  .containerB__options__button {
    margin-top: 5px;
  }
  .containerB__options__button--confirm {
    height: 80px;
    width: 15vw; 
    font-size: 30px;
  }
  .containerB__options__button--confirm:hover {
    font-size: 35px;
  }
  .containerB__options__list--li button {
    height: 170px;
    width: 170px;
    font-size: 25px;
  }
  .containerB__options__list--li button:hover {
    height: 200px;
    width: 200px;
    font-size: 30px;    
  }
  .containerB__options__list {
    height: 250px;
  }
  .containerB__options {
    height: 15vw;
    width: 95vw;
  } 
  .containerB__options__list--ul {    
    flex-flow: row;
  }
}